.container{
    display:flex;
    flex-direction:column;
    margin-top: 6rem;
}
.cen_btn{
    display:flex;
    padding:1rem;
    justify-content:center;
}
.playlist_btn{
    cursor: pointer;
       color: #fff;
       outline: none;
       border: none;
       font-weight: 700;
       border-radius: 0.2vw;
       padding-left: 2rem;
       padding-right: 2rem;
       margin-right: 1rem;
       padding-top: 0.5rem;
       background-color: rgba(43, 43, 43, 0.5);
       padding-bottom: 0.5rem;
}
.playlist_btn:hover{
    color: #000;
    background-color: #e50914;
    transition: all 0.2s;
}