.navbar{ 
    font-size: 1.4vw;
    display:flex;
    position: fixed;
    top: 0;
    padding: 10px;
    width: 100%;
    height: 10vh;
    z-index: 1;
    justify-content: space-between;
    transition-timing-function: ease-in;
    transition: all 0.5s ;
    color: white;
    align-items: center;
}
.nav__black{
    background-color: #111;
}

.items{
    display: flex;
    justify-content : space-between;
    margin-right: 0.8vw;
}
.link{
    text-decoration: none;
    padding: .5vw;
    color: white;
}

.link:hover{
    color: #e50914;
    /* background-color: #e50914; */
    transition: all 0.2s;
}
.button {
	border: none;
	outline: inherit;
    font: inherit;
    padding: .5vw;
    background: none;
	cursor: pointer;
	margin-right: 20px;
    color: white;
}

.button:hover{
    color: #e50914;
    transition: all 0.2s;
}
.app_name{
    color:#e50914;
    font-size: larger;
    font-weight: 800;
}